@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    overflow-x: hidden  !important;
    transition: all 0.3s ease-in-out;
    --font-sans: 'Roboto', sans-serif;
  }

  .card{
    @apply border-zinc-500/40 border-[0.9px] !bg-base-100/70  backdrop-blur-md;
  }

  
}



[data-theme='light'] {
  --bc: 3.6477% .0216 264.436;
  --p: 50.6477% 1.216 150;
  --pc: 7.6477% .216 150;
}

[data-theme='dark'] {
  --b1: 5.6477% .0416 200.436;
  --bc: 97.6477% .0216 264.436;
  --p:  90.6477% .216 140;
}




