@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    overflow-x: hidden !important;
    transition: all 0.3s ease-in-out;
    /* --font-sans: 'Roboto', sans-serif; */
  }

  .card {
    @apply !border-[0.9px] !border-zinc-400/40 !shadow-none !bg-base-100/60 !backdrop-blur-lg;
  }

  .alert {
    @apply !mt-20;
  }
}

.MathJax {
  overflow-x: auto;
  max-width: 100%;
}

.math-inline {
  display: inline-block;
  vertical-align: middle;
}

.math-display {
  display: block;
  margin: 1em 0;
  text-align: center;
}

.circle-bg {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  position: relative;
  overflow: hidden;
}

.circle-bg::before,
.circle-bg::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
  animation: moveGradient 7s infinite alternate-reverse,
    spin 8s linear infinite both alternate-reverse;
}

.circle-bg::before {
  width: 120%;
  height: 120%;
  background: radial-gradient(circle at 20% 30%, oklch(var(--s)) 20%, oklch(var(--p)), transparent);
  top: -10%;
  left: -10%;
}

.circle-bg::after {
  width: 90%;
  height: 90%;
  background: radial-gradient(circle at 70% 80%, oklch(var(--a)) 20%, oklch(var(--p)), transparent);
  bottom: -5%;
  right: -5%;
  animation-delay: 5s;
}

.gradient-bg {
  /* width: 150px;
  height: 150px; */
  /* border-radius: 50%; */
  position: relative;
  overflow: hidden;
}

.gradient-bg::before,
.gradient-bg::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
  animation: moveGradient 7s infinite alternate-reverse,
    spin 8s linear infinite both alternate-reverse;
}

.gradient-bg::before {
  width: 120%;
  height: 120%;
  background: radial-gradient(circle at 20% 30%, oklch(var(--s)) 20%, oklch(var(--p)), transparent);
  top: -10%;
  left: -10%;
}

.gradient-bg::after {
  width: 90%;
  height: 90%;
  background: radial-gradient(circle at 70% 80%, oklch(var(--a)) 20%, oklch(var(--p)), transparent);
  bottom: -5%;
  right: -5%;
  animation-delay: 5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9) blur(10px);

    opacity: 0.1;
  }
  100% {
    transform: scale(1.1) blur(50px);
    opacity: 1;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% -50%;
  }
}

[data-theme='light'] {
  --bc: 3.6477% 0.0216 264.436;
  --p: 50.6477% 1.216 150;
  --pc: 7.6477% 0.216 150;
}

[data-theme='dark'] {
  @apply bg-gradient-to-b from-gray-900 to-gray-950;
  --b1: 5.6477% 0.0416 200.436;
  --bc: 97.6477% 0.0216 264.436;
  --p: 90.6477% 0.216 140;
}

.btn-neutral {
  @apply bg-gradient-to-r from-base-content hover:bg-gradient-to-l disabled:text-base-300 disabled:opacity-60 to-base-content/80 border border-zinc-400/40 text-base-100;
  backdrop-filter: blur(10px);
}

/* Class to make small scroller height and width */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

